*{
    padding: 0%;
    margin: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    .navbar{
        height: 80px;
        background-color: rgb(208, 103, 29);
        color: white;
        display: flex;
        width: 100%;
        /* border: 5px solid red; */
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        .e1{
            font-size: 30px;
            color: white;
            display: flex;
            gap: 20px;
            align-items: center;
            img{
                margin-top: 10px;
                height: 40px;
                width: 100px;
                border-radius: 50px;
                
                
            }
            h2{
                font-size: 30px;
            }
            a{
                color: white;
                text-decoration:none ;
                font-size: 20px;
            }
        }
        .e2{
            display: flex;
            font-size: 20px;
            gap: 30px;
            align-items: center;
            a{
                text-decoration: none;
                font-size: 20px;
                color: white;
            }
            img{
                height: 20px;
            }
            button{
                width: 150px;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }

    .subnavbar{
        padding: 10px;
        
        display: flex;
        gap: 20px;
        a{ 
            text-decoration: none;
            font-size: 20px;
            color: black;

        }
        #o{
        margin-right: 810px;
        }
    }

    .heading{
        /* box-shadow: 0px 0px 10px darkgrey; */
        border-radius: 10px ;
        width: 70%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1{
            font-size: 45px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        p{
            align-items: justify;
            text-align: justify;
             font-style: italic;
             
        }
        button{
            border: none;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            font-size: 20px;
            border: none;
            background-color: rgb(241, 108, 13);
            
        }
        #c{
            background-color: white;
        }

    }

    .plc{
        
        border: none;
        box-shadow: 0px 0px 10px gray;
        border-radius: 20px;

        width: 70%;
         display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        .attach{
            display: flex;
            /* width: 70%; */
            gap: 100px;
            /* border: 2px solid red; */

        
        .top{
            /* border: 2px solid red; */
            padding: 10px;
            /* display: flex;
            flex-direction: column;
            width: fit-content; */
            width: 100%;
            h3{
                font-size: 20px;
                padding: 10px;

            }
           
           
            h2{
                font-size: 45px;
                margin-bottom: 13px;
            }
            .duration{
                display: flex;
                gap: 20px;
                button{
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    font-weight: bold;

                }
                #t{
                    background-color: rgb(246, 105, 5);
                }
            }
        }
        .side{
            /* border: 2px solid red; */
            border-radius: 20px;
            background-color: rgb(208, 103, 29);
            color: white;
            /* width: 360px; */
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 15px;
            justify-content: center;
            
            h4{
                font-size: 20px;
            }
            h2{
                font-size: 48px;
                width: 30px;
            }
            h3{
                font-size: 20px;
            }
            button{
                width: 320px;
                border-radius: 30px;
                font-size: 15px;
                margin-left: 18px;
                background-color: white;
                border: none;
                padding: 10px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

        }
        }
        .para{
            padding: 10px;
            p{
                font-style: italic;

            }
            a{
                text-decoration: none;
                color: rgb(208, 103, 29);
                margin-left: 380px;
                font-size: 18px;
                font-weight: bold;
                padding: 10px;
                margin-top: 10px;
            }
        }
    }

    .apl{
        box-shadow: 0px 0px 10px darkgrey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 68%;
        /* border: 2px solid red; */
        padding: 25px;
        h1{
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: rgb(112, 111, 111);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    .nmi{
        box-shadow: 1px 1px 10px darkgrey;
        border-radius: 10px;
        width: 71%;
        /* border: 2px solid red; */
         
        h1{
            font-size: 32px;
             padding: 10px;
        }
        .buttons{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-left: 10px;
            justify-content: space-evenly;
            padding: 20px;
            

            button{
                
                
                width: 300px;
                padding: 14px;
                font-size: 18px;
                border: none;
                border-radius: 8px;
                font-weight: bold;
            }
           
            

        }
    }



}